serviciosweb/InteraccionAsincrona/ClienteEmailWsJEE7Mvn/src/wsdl/localhost_8080/EmailWebService/EmailWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.emailwsjee7mvn.curso.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.emailwsjee7mvn.curso.com/">

<xs:element name="email" type="tns:email"/>

<xs:element name="emailResponse" type="tns:emailResponse"/>

<xs:complexType name="email">
<xs:sequence>
<xs:element name="cuerpo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="emailResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>