serviciosweb/SoapAsync/ClienteSoapAsyncMvn/src/wsdl/localhost_8080/SoapAsyncWebService/SoapAsyncWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ejemplosoapasyncmvn.curso.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejemplosoapasyncmvn.curso.com/">

<xs:element name="obtenerFactura" type="tns:obtenerFactura"/>

<xs:element name="obtenerFacturaResponse" type="tns:obtenerFacturaResponse"/>

<xs:element name="procesarFactura" type="tns:procesarFactura"/>

<xs:element name="procesarFacturaResponse" type="tns:procesarFacturaResponse"/>

<xs:complexType name="obtenerFactura">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerFacturaResponse">
<xs:sequence>
<xs:element name="return" type="tns:factura" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factura">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="importe" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="procesarFactura">
<xs:sequence>
<xs:element name="arg0" type="tns:factura" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="procesarFacturaResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>